// Variables
$website-width: 1280px;
$main-color: #ffa364;
$gradient-color: hsl(34, 100%, 70%);
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$gradient: linear-gradient(265deg, $main-color 55%, $gradient-color 100%);
$bg-image: url('../img/showcase.jpg');
$transition-duration: 0.3s;

// Set Text Color

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}
