// Variables
$website-width: 1280px;
$main-color: #ffa364;
//
// $main-color: #ffa586;
// $main-color: #ffa586;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/showcase.jpg');

// Set Text Color

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}
